.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center scroll;
    background-size: cover;
}

.carousel-caption {
    bottom: 400px;
}


.heading-details {
    margin-left: 300px;
}

.paragraph {
    margin-left: 300px;
}